<%= render 'vue-templates/grid' %>

<!-- demo root element -->
<div id="demo">
  <form id="search">
    Search <input name="query" v-model="searchQuery">
  </form>
  <demo-grid
    :columns="gridColumns"
    :filter-key="searchQuery">
  </demo-grid>
</div>
